// Timeline Plugin SASS

// **** timeline variables ****
//light theme
$light-primary: #222;
$light-secondary: #ddd;
$light-timeline-color: $light-primary;

//dark theme
$dark-primary: #ddd;
$dark-secondary: #333;
$dark-timeline-color: $dark-primary;

//breakpoint
$breakpoint-timeline: 45em;

// **** timeline default styles  ****
//timeline wrapper
.Timeline {
    overflow: hidden;
    position: relative;
    margin-bottom: 2em;
	
	//timeline year title (e.g. 2014, 2102, earlier)
    > h4 {
	    max-width: 7em;
	    margin: 0 auto 1em;
	    padding: 0.25em 0.5em;
	    clear: both;
	    text-align: center;
	    font-weight: 300;
	    border-radius: 0.25em;
    }
	
	//timeline year wrapper
    .Timeline-yearEvents {
	    padding: 0;
	    list-style: outside none;
	    overflow: hidden;
		
		//timeline event in a year
	    > li {
			padding: 2%;
		    border-radius: 8px;
		    margin: 0 0 1em 1em;
		    position: relative;
			
			//last event in a year
		    &:last-child {
		    	margin-bottom: 1.75em;
		    }
			
			//arrows placed on the events
		    &:before {
				content: "";
			    position: absolute;
			    left: -0.75em;
			    top: 0.5em;
			    z-index: 100;
		    }
	    }
    }
}

// **** timeline light and dark theme styles ****
//light theme styles
.Timeline--light {
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, $light-timeline-color), color-stop(0.9%, $light-timeline-color), color-stop(1%, transparent));
    background-image: -webkit-linear-gradient(left, $light-timeline-color 0%, $light-timeline-color 0.9%, transparent 1%);
    background-image: -moz-linear-gradient(left, $light-timeline-color 0%, $light-timeline-color 0.9%, transparent 1%);
    background-image: linear-gradient(left, $light-timeline-color 0%,$light-timeline-color 0.9%,transparent 1%);

    .Timeline-yearEvents > li {
	    color: $light-primary;
	    background-color: $light-secondary;

	    &:before {
			border-left: 6px solid transparent;
		    border-right: 6px solid #ddd;
		    border-top: 6px solid transparent;
		    border-bottom: 6px solid transparent;
	    }
    }

    > h4 {
	    color: $light-primary;
	    background-color: $light-secondary;
	    border: 0.35em solid $light-primary;
    }
}

//dark theme styles
.Timeline--dark {
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, $dark-timeline-color), color-stop(0.9%, $dark-timeline-color), color-stop(1%, transparent));
    background-image: -webkit-linear-gradient(left, $dark-timeline-color 0%, $dark-timeline-color 0.9%, transparent 1%);
    background-image: -moz-linear-gradient(left, $dark-timeline-color 0%, $dark-timeline-color 0.9%, transparent 1%);
    background-image: linear-gradient(left, $dark-timeline-color 0%,$dark-timeline-color 0.9%,transparent 1%);

    .Timeline-yearEvents > li {
	    color: $dark-primary;
	    background-color: $dark-secondary;

	    &:before {
			border-left: 6px solid transparent;
		    border-right: 6px solid #333;
		    border-top: 6px solid transparent;
		    border-bottom: 6px solid transparent;
	    }
    }

    > h4 {
	   	color: $dark-primary;
	    background-color: $dark-secondary;
	    border: 0.35em solid $dark-primary;
    }
}

@media only screen and (min-width: $breakpoint-timeline) {

    .Timeline--light {
        background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, transparent), color-stop(49.59%, transparent), color-stop(49.6%, $light-timeline-color), color-stop(49.9%, $light-timeline-color), color-stop(50%, transparent));
        background-image: -webkit-linear-gradient(left, transparent 0%,transparent 49.59%,$light-timeline-color 49.6%,$light-timeline-color 49.9%,transparent 50%);
        background-image: -moz-linear-gradient(left, transparent 0%,transparent 49.59%,$light-timeline-color 49.6%,$light-timeline-color 49.9%,transparent 50%);
        background-image: linear-gradient(left, transparent 0%,transparent 49.59%,$light-timeline-color 49.6%,$light-timeline-color 49.9%,transparent 50%);

        .Timeline-yearEvents  > li:nth-of-type(odd):before {
	        content: "";
	        left: auto;
	        right: -0.75em;
	        border-left: 6px solid #ddd;
	        border-right: 6px solid transparent;
	        border-top: 6px solid transparent;
	        border-bottom: 6px solid transparent;
    	}
    }

    .Timeline--dark {
    	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, transparent), color-stop(49.59%, transparent), color-stop(49.6%, $dark-timeline-color), color-stop(49.9%, $dark-timeline-color), color-stop(50%, transparent));
        background-image: -webkit-linear-gradient(left, transparent 0%,transparent 49.59%,$dark-timeline-color 49.6%,$dark-timeline-color 49.9%,transparent 50%);
        background-image: -moz-linear-gradient(left, transparent 0%,transparent 49.59%,$dark-timeline-color 49.6%,$dark-timeline-color 49.9%,transparent 50%);
        background-image: linear-gradient(left, transparent 0%,transparent 49.59%,$dark-timeline-color 49.6%,$dark-timeline-color 49.9%,transparent 50%);

        .Timeline-yearEvents  > li:nth-of-type(odd):before {
	        content: "";
	        left: auto;
	        right: -0.75em;
	        border-left: 6px solid #333;
	        border-right: 6px solid transparent;
	        border-top: 6px solid transparent;
	        border-bottom: 6px solid transparent;
    	}
    }
	
	//timeline events on larger screens ( > $breakpoint-timeline:45em)
    .Timeline .Timeline-yearEvents > li {
        width: 44%;
        margin: 0 0 1em 0;
		
		//timeline events to the right of the timeline
        &:nth-of-type(even) {
        	float: right;
        	margin-top: 2%; //visual cue for the order of events (diff between left and right side of timeline)
        }

		//timeline events to the left of the timeline
        &:nth-of-type(odd) {
        	float: left;
        }
		
        &:nth-of-type(2n+1) {
        	clear: both;
        }
    }
}
